#app {
    height: 100vh;
    text-align: center;
}

.header{
    background-color: #e2ebf0;
    height: 40px;
}
.header-body{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
}
.header-right{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
}