#app {
    height: 100vh;
    text-align: center;
}

.header{
    background-color: #e2ebf0;
    height: 40px;
}
.header-body{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
}
.header-right{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
}
.content-home{
    display: grid;
    grid-template-columns: 150px auto;
}
.content-home-menu{
    background-color: #e2ebf0;
    color: black;
}
.content-home-menu-list{
   list-style: none; 
}
.wb-home-input-foot{
    display: grid;
    grid-template-columns: repeat(auto-fill,60px);
}